{extend name='layout'}
{block name='content'}
<table class="layui-hide" id="reward" lay-filter="reward"></table>
{/block}
{block name='js'}
<script type="text/html" id="toolbarDemo">
    <div class="layui-inline" id="inputParent">
        <input class="layui-input" name="key" id="key" autocomplete="off" placeholder="搜索充值记录">
    </div>
    <button class="layui-btn" data-type="reload" id="search" lay-event="search">搜索</button>
</script>

<!--<script type="text/html" id="barDemo">-->
<!--    <a class="layui-btn layui-btn-xs" lay-event="play">播放</a>-->
<!--    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
<!--</script>-->

<script>
    layui.use(['table'], function(){
        let table = layui.table,layer = layui.layer,$=layui.$;

        table.render({
            elem: '#reward',
            url:'{:url("rewardList")}',
            toolbar: '#toolbarDemo',
            title: '充值数据表',
            cellMinWidth: 60,
            cols: [[
                {field:'id', title:'ID', fixed: 'left', unresize: true, sort: true},
                {field:'userName', title:'用户名'},
                {field:'award', title:'健康豆奖励'},
                {field:'experience', title:'经验值奖励'},
                {field:'source', title:'奖励来源'},
                {field:'time', title:'奖励时间'},
                // {fixed: 'right', title:'操作', toolbar: '#barDemo',width:150, align: 'center'},
            ]],
            page: true,
            limit: 10, //每页默认显示的数量
            limits:[10,20,50,100]
        });

        //头工具栏事件,需要把搜索事件放在这里/把搜索框放在table外面，否则reload之后click事件不绑定
        table.on('toolbar(reward)', function(obj){
            switch(obj.event) {
                case 'search':
                    let key = $('#key').val();
                    console.log(key);
                    if($.trim(key)==='') {
                        layer.msg('请输入关键字！',{icon:0});
                        return;
                    }
                    table.reload('reward',{
                        where: {key: key}
                    });
                    break;
            }
        });

    });
</script>
{/block}