{extend name='layout'}
{block name='content'}
<table class="layui-hide" id="user" lay-filter="user"></table>
{/block}
{block name='js'}
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/html" id="checkboxTpl">
    <input type="checkbox" name="lock" value="{{d.id}}" title="锁定" lay-filter="lockDemo"
           {{ d.lock == 1 ? 'checked' : '' }}
    >
</script>

<script>
    layui.use('table', function(){
        let table = layui.table,form = layui.form,$=layui.$;

        table.render({
            elem: '#user',
            url:'{:url("userList")}',
            toolbar: '#toolbarDemo',
            title: '用户数据表',
            cellMinWidth: 60,
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field:'id', title:'ID', fixed: 'left', unresize: true, sort: true},
                {field:'name', title:'用户名'},
                {field:'phoneNum', title:'手机号', width: 130},
                {field:'level', title:'等级',sort: true},
                {field:'energy', title:'体力',sort: true},
                {field:'healthyBeans', title:'健康豆',  sort: true},
                {field:'experience', title:'经验值'},
                {field:'diamond', title:'钻石数量',width:100, sort: true},
                {field:'lock', title:'是否锁定', width:110, templet: '#checkboxTpl', unresize: true},
                {fixed: 'right', title:'操作', toolbar: '#barDemo',width:150, align: 'center'},

            ]],
            page: true,
            limit: 10, //每页默认显示的数量
            limits:[10,20,50,100]
        });

        //头工具栏事件
        table.on('toolbar(user)', function(obj){
            let checkStatus = table.checkStatus(obj.config.id);
            let data = checkStatus.data;
            layer.alert(JSON.stringify(data));
        });

        //监听行工具事件
        table.on('tool(user)', function(obj){
            let data = obj.data;
            //console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.prompt({
                    formType: 2
                    ,value: data.email
                }, function(value, index){
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });

        //监听锁定操作
        form.on('checkbox(lockDemo)', function(obj){
            let that = this, data = {'id' : this.value};
            $.post('{:url("user/lock")}',data,function(res){
                console.log(res);
                if(res === true){
                    layer.tips(that.value + ' ' + that.name + '：'+ obj.elem.checked, obj.othis);
                }
            });

        });
    });
</script>
{/block}