{extend name='layout'}
{block name='content'}
<table class="layui-hide" id="game" lay-filter="game"></table>
{/block}
{block name='js'}
<script type="text/html" id="toolbarDemo">
    <div class="layui-inline" id="inputParent">
        <input class="layui-input" name="key" id="key" autocomplete="off" placeholder="搜索游戏">
    </div>
    <button class="layui-btn" data-type="reload" id="search" lay-event="search">搜索</button>
    <button class="layui-btn" lay-event="new">新增游戏</button>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/html" id="instructionTemplet">
    <button class="layui-btn layui-btn-xs layui-btn-normal" lay-event="show_instruction" value="{{d.id}}">查看</button>
    <button class="layui-btn layui-btn-xs layui-btn-warm" lay-event="upload_instruction"  value="{{d.id}}">上传</button>
</script>

<script>
    layui.use(['table','upload'], function(){
        let table = layui.table,layer = layui.layer,$=layui.$, upload = layui.upload;

        table.render({
            elem: '#game',
            url:'{:url("gameList")}',
            toolbar: '#toolbarDemo',
            title: '游戏数据表',
            cellMinWidth: 60,
            cols: [[
                {field:'id', title:'ID', fixed: 'left', unresize: true, sort: true},
                {field:'name', title:'游戏名'},
                {field:'level', title:'等级',sort: true},
                {field:'award', title:'代币奖励'},
                {field:'experience', title:'通关经验值'},
                {field:'difficulty', title:'难度', sort: true},
                {field:'price', title:'价格', unresize: true},
                {field:'music', title:'音乐', style:'cursor: pointer;', event:'music', unresize: true},
                {field:'musicPath',hide : true},
                {field:'instruction', title:'指令集', width:120, templet: '#instructionTemplet', unresize: true},
                {fixed: 'right', title:'操作', toolbar: '#barDemo',width:150, align: 'center'},
            ]],
            page: true,
            limit: 10, //每页默认显示的数量
            limits:[10,20,50,100],
            done: function(res, curr, count){
                $(".layui-btn-warm").each(function () {
                    var that = $(this);
                    upload.render({
                        elem: this,
                        url: "{:url('upload')}",
                        accept: 'file',
                        ext: "xls|xlsx|csv",
                        data: {
                            id : function(){return that.val();}
                        },
                        before: function(obj){
                            //预读本地文件示例，不支持ie8
                            obj.preview(function(index, file, result){
                                console.log(file);
                            });
                        },
                        done: function(res){
                            console.log(res);
                            if(res.code === 1){
                                layer.msg('上传成功');
                            } else {
                                layer.msg(res.msg);
                            }
                        }
                    })
                })
            }
        });

        //头工具栏事件,需要把搜索事件放在这里/把搜索框放在table外面，否则reload之后click事件不绑定
        table.on('toolbar(game)', function(obj){
            switch(obj.event) {
                case 'search':
                    let key = $('#key').val();
                    console.log(key);
                    if($.trim(key)==='') {
                        layer.msg('请输入关键字！',{icon:0});
                        return;
                    }
                    table.reload('game',{
                        where: {key: key}
                    });
                    break;
                case 'new':
                    window.location.href = "{:url('newGame')}";
                    break;
            }
        });

        //监听行工具事件
        table.on('tool(game)', function(obj){
            let data = obj.data;
            console.log(obj);
            switch (obj.event) {
                case "del":
                    layer.confirm('真的删除行该游戏么', function(index){
                        $.post('{:url("delete")}',{id : data.id},function (res) {
                            console.log(res);
                            if(res === 1){
                                obj.del();
                                layer.close(index);
                            }
                        })
                    });
                    break;
                case "edit":
                    window.location.href = '{:url("edit")}?id=' + data.id;
                    break;
                case "music":
                    let src = 'http://' + window.location.hostname +'/music/' + obj.data['musicPath'];
                    layer.open({
                        type: 1,
                        content: '<video controls="" autoplay="" name="media"><source src='+ src + '></video>'
                    });
                    break;
                case "show_instruction" :
                    layer.open({
                        type: 2,
                        title: '指令集',
                        content: "{:url('instruction')}?id="+ data.id,
                        area: '400px'
                    });
                    break;
                case "upload_instruction" :
                    break;
            }
        });



    });
</script>
{/block}