<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {css href="__PUBLIC__/layui/css/layui.css"}
    {css href="__INDEX__/css/font.css"}
</head>
<body>
<div class="layui-form">
    {if count($list) == 0}
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>暂无指令</legend>
    </fieldset>
    {else /}
    <table class="layui-table">
        <colgroup>
            <col width="100">
            <col width="200">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>编号</th>
            <th>指令</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo" key="k"}
            <tr>
                <td>{$k}</td>
                <td>{$vo.instruction}</td>
            </tr>
        {/volist}
        </tbody>
    </table>
    {/if}
</div>
</body>
</html>